Source: oauthimap
Section: web
Priority: standard
Maintainer: ITSMng SysAdmin <sysadmin@itsm-ng.com>
Build-Depends:	debhelper (>= 9),
				bash,
				composer
Rules-Requires-Root: no
Homepage: https://github.com/itsmng/oauthimap

Package: itsm-ng-plugin-oauthimap
Architecture: all
Depends: itsm-ng (>= 1:2.0),
Description: This plugins provides IMAP SASL XOAUTH2 authentication mechanism for mail receivers.
